@import "tailwindcss";
@import "@umnburrow/core/style.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins&display=swap');/* tailwind needs to register what styles are used in the core*/
@source "../node_modules/@umnburrow/core/dist";

@plugin "tailwindcss-react-aria-components";

body {
    background: var(--background-color);
}

/* Device size must be at least 768px (Desktop, Large Tablet) */
@media (min-width: 768px) {
    /* Standing Gopher on the Left Side of the Page */
    /*body::before {*/
    /*    @apply bg-contain bg-no-repeat bg-center absolute top-[612px] left-[-64px] bottom-0;*/
    /*    content: "";*/

    /*    background-image: url("/standing_gopher.png");*/


    /*    width: 30%;*/
    /*    height: 50%;*/

    /*    filter: grayscale(100%);*/
    /*    opacity: 0.15;*/

    /*    pointer-events: none;*/
    /*    z-index: -1;*/
    /*}*/

    /* Standing Gopher on the Left Side of the Page */
    body::after {
        @apply bg-contain bg-no-repeat bg-center absolute top-0 left-0 right-0 bottom-0;
        content: "";

        background-image: url("/yord_gopher.png");

        top: 0px;
        right: -90px;

        width: 30%;
        height: 50%;

        filter: grayscale(100%);
        opacity: 0.15;

        pointer-events: none;
        z-index: -1;
    }
}