/* Author: Yordanos Eshete */

.fire {
    align-content: center;
    text-align: center;
}
.text{
    font-size: 200px;
    font-family: "Roboto Light";
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-position: center;
    text-underline-position: under;
    text-decoration: underline;
    text-decoration-color: dimgray;
    text-decoration-thickness: 10px;
}
.word{
    font-size: 100px;
    font-family: "Figtree", sans-serif;
    font-style: italic;
    font-optical-sizing: auto;
    font-weight: 800;
}
.card {
    border-radius: 30px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
}
.modal, .overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto;
    border: 2px solid white;
    border-radius: 30px;
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: "Figtree", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-modal:hover {
    background: white;
    color: black;
    transform: scale(1.1, 1.1);
    transition: all 0.2s ease-in-out;
    outline: white;
}


.btn-wrapper{
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.28);
    border-radius: 30px;
    align-content: center;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.btn-wrapper:hover:before {
    opacity: 0.2;
    transform: scale(1.2, 1.2);
    filter: blur(10px);
    outline: white;
    border: 2px white;
}
.btn-wrapper:hover {
    text-decoration: underline;
    text-decoration-color: dimgray;
    transform: scale(1.1, 1.1);
    transition: all 0.2s ease-in-out;
    outline: white;
}
.btn {
    position: relative;
    z-index: 1;
}
.back-btn{
    font-family: "Figtree", sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}